@model IEnumerable<ShoppingGuide.Models.Product>

@{
    ViewBag.Title = "SearchResult";
}


<h2></h2>
<font size="5pt">Search Result<b><i></i></b></font>
<div class="pull-right">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Sort by
                    <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @{
                string none = "SearchSort?sort=None&search=" + ViewBag.searchQuery;
                string price = "SearchSort?sort=Price&search=" + ViewBag.searchQuery;
                string rating = "SearchSort?sort=Rating&search=" + ViewBag.searchQuery;
                            
                <li><a href="@none">None</a></li>
                <li><a href="@price">Price</a></li>
                <li><a href="@rating">Rating</a></li>
            }
        </ul>
    </div>
</div>
<hr />

<fieldset class="form-horizontal">
    @Html.Partial("_ProductNavPartial")

    <div class="list-group col-md-7" style="padding-left: 1em">
        @foreach (var product in Model)
        {
            <div class="row">
                <a href="~/Store/Details/@product.ProductId" class="list-group-item" style="height: 141px">
                    <div class="pull-left" style="padding-right: 1em">
                        <img src="@Url.Content(product.Image)" class="img-circle" width="120" height="120">
                    </div>
                    <div>
                        <h4 class="list-group-item-heading">@product.Name</h4>
                        <p class="list-group-item-text"><b>Price:</b> $@product.Price</p>
                        <p>
                        @{ 
                            int i;
                            for (i = 0; i < product.Rating; i++)
                            {
                                <span class="glyphicon glyphicon-star"></span>
                            }

                            for (int j = i; j < 5; j++)
                            {
                                <span class="glyphicon glyphicon-star-empty"></span>
                            }
                        }
                        &nbsp(@product.Votes)
                        </p>
                        <p class="list-group-item-text">
                            <b>Description:</b>
                            @if (product.Description.Length < 100)
                            {
                                <i>@product.Description</i>;
                            }
                            else
                            {
                                <i>@product.Description.Substring(0, 100)...</i>;
                            }
                        </p>
                    </div>
                </a>
            </div>
        }
    </div>
</fieldset>
