@model ShoppingGuide.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2></h2>
<fieldset class="form-horizontal">
    @Html.Partial("_ProductNavPartial")

    <legend>Viewing product <i><b>@Model.Name</b></i>
        <h6>
            <div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-type="button_count"></div>
        </h6>
    </legend>
    <div class="panel panel-default col-md-9">
        <div class="panel-body">
            <div class="col-md-6 pull-left">
                <img src="@Url.Content(Model.Image)" style="max-width: 400px; max-height: 400px; width: auto; height: auto; padding-right: 30px" class="pull-left"/>
            </div>
            <div class="col-md-6" style="text-align:justify">
                <p><h4>Price:</h4><h4>$@Model.Price</h4></p>
                <p><h4>Rating:</h4>
                    @{
                        int i;
                        for (i = 0; i < Model.Rating; i++)
                        {
                            string rateString = "../Rate?rating=" + (i + 1) + "&iD=" + Model.ProductId;

                            if (ViewBag.alreadyRated != true)
                            { 
                                <a href="@rateString" style="text-decoration:none">
                                <span class="glyphicon glyphicon-star"></span>
                                </a>
                            }
                            else 
                            {
                                <span class="glyphicon glyphicon-star"></span>
                            }
                        }

                        for (int j = i; j < 5; j++)
                        { 
                            string rateString = "../Rate?rating=" + (j + 1) + "&iD=" + Model.ProductId;
                            if (ViewBag.alreadyRated != true)
                            { 
                                <a href="@rateString" style="text-decoration:none">
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </a>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-star-empty"></span>
                            }
                        }
                    }
                    &nbsp(@Model.Votes)
                </p>
                <p><h4>Description:</h4>@Model.Description</p>
            </div>
        </div>
    </div>
</fieldset>

